---
import Head from "@/components/Head.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "@/constants";

const githubIcon = await import("@/assets/icons/github.svg?raw");
const linkedinIcon = await import("@/assets/icons/linkedin.svg?raw");
const mailIcon = await import("@/assets/icons/mail.svg?raw");
---

<!doctype html>
<html lang="en">
  <head>
    <Head title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <body>
    <main>
      <div class="container">
        <section class="intro">
          <div>
            <h1>Enkherdene Bolormaa</h1>
            <p>
              Software engineer focused on design. <br />Exploring the space between design and
              code.
            </p>
          </div>

          <ul>
            <li>
              <a href="#" aria-label="GitHub">
                <Fragment set:html={githubIcon.default} />
              </a>
            </li>
            <li>
              <a href="#" aria-label="LinkedIn">
                <Fragment set:html={linkedinIcon.default} />
              </a>
            </li>
            <li>
              <a href="#" aria-label="Email">
                <Fragment set:html={mailIcon.default} />
              </a>
            </li>
          </ul>
        </section>

        <section class="featured-writes"></section>
        <section class="latest-writes"></section>
      </div>
    </main>
  </body>
</html>

<style>
  .container {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 15rem 0;
    margin-inline: auto;
    max-width: 48rem;
  }

  .intro {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    font-size: 1.75rem;
    line-height: 1.285;
  }

  .intro h1 {
    font-family: var(--font-display);
    font-weight: 700;
    font-optical-sizing: auto;
  }

  .intro p {
    padding-top: 1rem;
    color: var(--color-surface-700);
  }

  .intro ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 1.75rem;
  }

  .intro ul a {
    color: var(--color-surface-400);

    transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
  }

  .intro ul a :global(svg) {
    width: 32px;
    height: 32px;
  }

  .intro ul a:hover {
    color: var(--color-text);
  }

  .intro ul a:focus {
    outline: 1px solid var(--color-border);
    outline-offset: 2px;
  }

  .intro ul a:focus:not(:focus-visible) {
    outline: none;
  }
</style>
